/*
в мозиле появляется дефолтный значок календаря

придумать как сдлеать более гибким overlay
*/

.page {
    width: 100%;
    max-width: 1280px;

    margin: 0 auto;

/*    border: 1px dotted green;*/
}

/* HEADER */

.header {
    width: 100%;
    max-width: 1180px;

    display: flex;
    align-items: center;

    margin: 16px auto 0;
}

.header__logo {
    width: 100%;
    max-width: 137px;
    min-height: 72px;
}

.header__links {
    margin-right: 50px;
    margin-left: 214px;
}

.header__links-list {
    width: 100%;

    display: flex;
    gap: 17px;

    list-style-type: none;
}

.header__links-list-item {}

.header__link {
    color: #FDFDFD;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;

    text-decoration: none;

    transition: color 0.3s linear;
}

.header__link:hover {
    color: #F2BE22;
    text-decoration: underline;
}


/* BUTTON */

.button {
    width: 100%;
    max-width: max-content;

    display: block;

    color: #FDFDFD;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.192px;

    text-decoration: none;

    margin: 0;

    box-sizing: content-box;

    border-radius: 4px;
    border: none;
    background-color: #1A3E3E;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button_size_normal {
    padding: 12px 24px;
}

.button_size_big {
    padding: 16px 36px;
}


/* COVER */

.cover {
    width: 100%;
    max-width: 1180px;
    min-height: 897px;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.cover__image {
    width: 100%;
    min-height: 985px;

    align-self: center;
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    background-image: url("images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover__title {
    width: 100%;
    max-width: 1080px;

    color: #FDFDFD;
    font-family: "NEXT ART", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;

    margin-top: 463px;
}

.cover__form {
    width: 100%;
    max-width: 1180px;
    min-height: 161px;

    position: relative;
    z-index: 1;

    margin-top: 41px;

    border-radius: 10px;
    background-color: #FFF;
    opacity: 0.2;
}

.cover__form-grid {
    width: 100%;
    max-width: 1095px;

    display: grid;
    grid-template-columns: repeat(3, 270px) 213px;
    grid-template-rows: repeat(2, 52px);
    column-gap: 24px;
    row-gap: 8px;

    position: relative;
    z-index: 2;

    margin: -122px auto 0;
}

.form {}

.form__label {
    width: 100%;

    display: block;

    color: #FDFDFD;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.50;
}

.form__label_type_location {
    grid-column: 1;
    grid-row: 2;
}

.form__label_type_date {
    grid-column: 2;
    grid-row: 2;
}

.form__label_type_num-of-participants {
    grid-column: 3;
    grid-row: 2;
}

.form__item {
    width: 270px;

    color: #FDFDFD;
    font-family: "NunitoSans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    background-color: inherit;

    border-radius: 8px;
    border: 1px solid #FDFDFD;

    padding: 0 16px;
}

.form__item:hover {
    cursor: pointer;
}

.form__item_type_select {
    appearance: none;

    background-image: url("images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 16px top 16px;
}

.form__item_type_date  {
    appearance: none;

    background-image: url("images/calendar.svg");
    background-repeat: no-repeat;
    background-position: right 16px top 16px;
}

.form__item_type_date::placeholder {
    color: #FDFDFD;
    font-family: "NunitoSans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    opacity: 1;
}

.form__item_type_date::-webkit-input-placeholder {
    color: #FDFDFD;
    font-family: "NunitoSans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    opacity: 1;
}

.form__item_type_date::-moz-placeholder {
    color: #FDFDFD;
    font-family: "NunitoSans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    opacity: 1;
}
.form__item_type_date::-ms-input-placeholder {
    color: #FDFDFD;
    font-family: "NunitoSans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    opacity: 1;
}

.form__item_type_date::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.form__item_location {
    grid-column: 1;
}

.form__item_date {
    grid-column: 2;
}

.form__item_num-of-participants {
    grid-column: 3;
}

.cover__button {
    width: 100%;

    color: #1A3E3E;
    background-color: #FDFDFD;
    border: 1px solid #1A3E3E;

    box-sizing: content-box;

    grid-column: 4;
}


/* ABOUT */

.about {
    width: 100%;
    max-width: 1180px;
    min-height: 526px;

    display: flex;
    justify-content: space-between;

    margin: 100px auto 0;
}

.about__media-group {
    width: 100%;
    max-width: 480px;

    position: relative;
}

.about__image {
    width: 100%;
    max-width: 350px;
    min-height: 400px;

    object-fit: contain;

    border-radius: 24px;
}

.about__video {
    width: 350px;
    height: 400px;

    object-fit: cover;
    object-position: top;

    position: absolute;
    top: 126px;
    left: 130px;
    z-index: 2;

    border-radius: 24px;
}

.about__description {
    width: 100%;
    max-width: 580px;
    min-height: 398px;

    align-self: center;
}

.section__title {
    width: 100%;

    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 0.83;

    margin-bottom: 8px;
}

.section__subtitle {
    width: 100%;

    color: #18121E;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;

    margin-bottom: 40px;
}

.section__text {
    width: 100%;

    color: #18121E;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;

    margin-bottom: 40px;
}


/* OFFER */

.offer {
    width: 100%;
    max-width: 1180px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    overflow: visible;

    margin: 180px auto 0;
}

.overlay {
    width: 100vw;
    min-height: 771px;

    align-self: center;
    position: absolute;
    top: 1711px;
    left: 0;

    z-index: -1;

    background-color: #F3F5F4;
}

.offer__description {
    width: 100%;
    max-width: 580px;
}

.offer__list {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 40px;

    list-style-type: none;
}

.offer__list-item {
    width: 100%;

    display: flex;
    gap: 16px;
}

.offer__point-icon {
    width: 100%;
    max-width: 50px;
    min-height: 50px;

    object-fit: contain;
    object-position: center;
}

.offer__point-description {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.offer__point-title {
    width: 100%;

    color: #18121E;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.216px;
}

.offer__point-text {
    width: 100%;

    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
}

.offer__button {
    margin-top: 40px;
}

.offer__photo-grid {
    width: 100%;
    max-width: 510px;
    min-height: max-content;

    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, min-content);
    gap: 10px;

    margin-top: 40px;
}

.offer__photo {
    width: 250px;
    height: 250px;

    object-fit: contain;
    object-position: center;
}

.offer__photo_border-radius_tr-bl {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.offer__photo_border-radius_tl-br {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

