.cover__form-item_type_input  {
    appearance: none;

    background-image: url("../../../../../images/calendar.svg");
    background-repeat: no-repeat;
    background-position: right 16px top 16px;
}

.cover__form-item_type_input::placeholder {
    color: #FDFDFD;
    font-family: "NunitoSans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    opacity: 1;
}

.cover__form-item_type_input::-webkit-input-placeholder {
    color: #FDFDFD;
    font-family: "NunitoSans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    opacity: 1;
}

.cover__form-item_type_input::-moz-placeholder {
    color: #FDFDFD;
    font-family: "NunitoSans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    opacity: 1;
}
.cover__form-item_type_input::-ms-input-placeholder {
    color: #FDFDFD;
    font-family: "NunitoSans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    opacity: 1;
}

.cover__form-item_type_input::-webkit-calendar-picker-indicator {
    opacity: 0;
}