.footer__link_new::after {
    content: "new";

    color: #1A3E3E;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    text-transform: lowercase;

    padding: 2px 10px;
    margin-left: 8px;

    background-color: #FFF;
    border-radius: 4px;
}