.card__rating-overlay {
    width: 65px;
    height: 32px;

    background-color: #FDFDFD;
    opacity: 0.4;

    position: absolute;
    top: 50px;
    right: 0;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}