.cover__image {
    width: 100%;
    min-height: 985px;

    align-self: center;
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    background-image: url("../../../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}