.post {
    width: 100%;
    max-width: 580px;

    display: flex;
    gap: 24px;

    padding: 16px;

    background-color: #FDFDFD;

    border-radius: 10px;
}

.post:hover {
    box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
    cursor: pointer;
}