.cover__title {
    width: 100%;
    max-width: 1080px;

    color: #FDFDFD;
    font-family: "NEXT ART", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;

    margin-top: 463px;
}