.blog {
    width: 100%;
    max-width: 1180px;

    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    margin: 180px auto 0;
}

.blog::before {
    content: "";

    width: 100vw;
    min-height: 1036px;

    align-self: center;
    position: absolute;
    top: -80px;
    left: calc((100vw - 1180px) / -2);

    z-index: -1;

    background-color: #F3F5F4;
}